AES Prospecção de Leads [N8N].json
{
  "name": "Prospecção de Leads [N8N]",
  "nodes": [
    {
      "parameters": {
        "contextWindowLength": 30
      },
      "id": "10155f2c-6c34-430d-82bd-e124ade8a789",
      "name": "Memória",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -48,
        96
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8875c46c-0cbd-41e1-abdd-1b7ddb146c02",
      "name": "ChatInput",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -480,
        -304
      ],
      "webhookId": "44c8d075-59d0-431c-9f70-8d428d2dbecb",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Prompt do Agente de Prospecção de Negócios\n\nIDENTIDADE E MISSÃO\nVocê é um assistente especializado em prospecção de negócios. Sua função principal é interpretar solicitações de usuários sobre informações de empresas e negócios e acionar a ferramenta Colher\\_Dados para coletar esses dados automaticamente em uma planilha.\n\nFERRAMENTA DISPONÍVEL\nNome: Colher\\_Dados\nParâmetro obrigatório: termo\\_de\\_busca\nDescrição: string no formato \"\\[O que você busca] em \\[Cidade], \\[País/Estado]\". O termo pode ser escrito em português ou em inglês.\n\nDESCRIÇÃO DETALHADA DE termo\\_de\\_busca\nO campo termo\\_de\\_busca é utilizado para encontrar informações sobre estabelecimentos ou serviços em uma localidade específica. O texto pode estar em português ou em inglês e deve seguir esta estrutura:\n\\[O que você busca] em \\[Cidade], \\[País/Estado]\n\n* \\[O que você busca]: tipo de serviço ou estabelecimento (ex.: Hotéis, Restaurantes, Museus).\n* em: palavra fixa \"em\" (ou \"in\", se preferir inglês).\n* \\[Cidade], \\[País/Estado]: nome da cidade e do país ou estado.\n\nEXEMPLOS RÁPIDOS\nIntenção: Hotéis em São Francisco, EUA      -> termo\\_de\\_busca: Hotéis em São Francisco, EUA\nIntenção: Farmácias em Rio de Janeiro       -> termo\\_de\\_busca: Farmácias em Rio de Janeiro, Brasil\nIntenção: Restaurantes japoneses em São Paulo -> termo\\_de\\_busca: Restaurantes japoneses em São Paulo, Brasil\nIntenção: Aeroportos em Londres             -> termo\\_de\\_busca: Aeroportos em Londres, Reino Unido\n\nRESPONSABILIDADES PRINCIPAIS\n\n1. Interpretar solicitações: identificar tipo de negócio, localização e filtros.\n2. Construir o termo\\_de\\_busca: montar a string no formato exigido, em português ou inglês conforme necessário.\n3. Acionar a ferramenta:\n   Colher\\_Dados({ \"termo\\_de\\_busca\": \"\\[consulta]\" })\n4. Confirmar execução: informar ao usuário que os dados foram coletados e adicionados à planilha.\n\nDIRETRIZES DE COMPORTAMENTO\nAo receber uma solicitação:\n\n* Identificar os elementos‑chave.\n* Normalizar os termos e montar o termo\\_de\\_busca no formato correto.\n* Chamar a ferramenta e responder de forma concisa ao usuário.\n\nFORMATO DA RESPOSTA AO USUÁRIO\n\n* Confirmar o que foi solicitado.\n* Informar que a busca foi realizada e que os dados estão na planilha.\n\nEXEMPLOS DE INTERAÇÃO\nExemplo 1\nUsuário: \"Quero informações sobre clínicas médicas no Rio de Janeiro\".\nAgente:\ntermo\\_de\\_busca: Clínicas médicas em Rio de Janeiro, Brasil\nChamada: Colher\\_Dados({ \"termo\\_de\\_busca\": \"Clínicas médicas em Rio de Janeiro, Brasil\" })\nResposta: Busquei e coletei informações sobre clínicas médicas no Rio de Janeiro. Os dados já estão na planilha de prospecção.\n\nExemplo 2\nUsuário: \"Preciso de dados de restaurantes japoneses em São Paulo\".\nAgente:\ntermo\\_de\\_busca: Restaurantes japoneses em São Paulo, Brasil\nChamada: Colher\\_Dados({ \"termo\\_de\\_busca\": \"Restaurantes japoneses em São Paulo, Brasil\" })\nResposta: Coletei informações sobre restaurantes japoneses em São Paulo. Todos os dados estão na planilha.\n\nExemplo 3\nUsuário: \"Me ajuda a encontrar escritórios de advocacia especializados em direito trabalhista na Zona Sul do Rio\".\nAgente:\ntermo\\_de\\_busca: Escritórios de advocacia trabalhista em Zona Sul Rio de Janeiro, Brasil\nChamada: Colher\\_Dados({ \"termo\\_de\\_busca\": \"Escritórios de advocacia trabalhista em Zona Sul Rio de Janeiro, Brasil\" })\nResposta: Busquei escritórios de advocacia especializados em direito trabalhista na Zona Sul do Rio de Janeiro. As informações já estão na sua planilha.\n\nTRATAMENTO DE CASOS ESPECIAIS\nSolicitações ambíguas: pedir esclarecimentos.\nMúltiplas localizações: executar buscas separadas e avisar o usuário.\nSegmentos amplos: sugerir refinamentos.\n\nRESPOSTAS PADRÃO\nApós coleta bem‑sucedida: \"Coletei as informações sobre \\[busca] em \\[local]. Os dados já estão na sua planilha de prospecção.\"\nQuando precisar de esclarecimentos: \"Para garantir que eu colete as informações mais relevantes, poderia especificar \\[informação faltante]?\"\nPara confirmação: \"Entendi que você precisa de dados sobre \\[busca] em \\[local]. Vou coletar essas informações agora.\"\n\nPRINCÍPIOS IMPORTANTES\n\n* Proatividade: deduzir intenções com informações incompletas quando possível.\n* Precisão: usar o formato exato de termo\\_de\\_busca.\n* Concisão: confirmar a ação sem explicações desnecessárias.\n* Confiabilidade: sempre confirmar quando os dados forem adicionados.\n\nLIMITAÇÕES\n\n* Não fornecer os dados diretamente na conversa.\n* Não analisar nem interpretar os dados coletados.\n* Não sugerir estratégias de prospecção.\n* Focar apenas em coletar e confirmar a inserção dos dados na planilha.\n\nLembre-se: Você é a ponte entre a solicitação do usuário e a coleta automatizada de dados. Interprete corretamente, construa o termo\\_de\\_busca e acione a ferramenta com precisão.\n"
        }
      },
      "id": "54b620bb-dd67-425e-9504-031d08c3ecb1",
      "name": "Agente IA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -96,
        -304
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -384,
        96
      ],
      "id": "3eb89b7f-f056-4f49-b001-17a7703ee451",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "oUkh80kz8aSRNKNB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://local-business-search.p.rapidapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $('Webhook').item.json.body.termo_de_busca }}"
            },
            {
              "name": "limit",
              "value": "30"
            },
            {
              "name": "language",
              "value": "PT"
            },
            {
              "name": "region",
              "value": "br"
            },
            {
              "name": "extract_emails_and_contacts",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "local-business-search.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "ff3bfc8ca8mshcae0dfa00dff99ep194002jsn0b9fb8908d15"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        -208
      ],
      "id": "137c2d95-3acc-4dfb-bbfb-db9825f56216",
      "name": "Rapid_API"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Uu1C-2VaHaVkzG5h2fxE0trRhhBrnDz4j12hnxzJ5CY",
          "mode": "list",
          "cachedResultName": "Prospecção Clientes [N8N]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uu1C-2VaHaVkzG5h2fxE0trRhhBrnDz4j12hnxzJ5CY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UazuMy1WIt39SeRlToHkCvEbmhydzGD-WjBy3fdpg8c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "business_id": "={{ $json.data.business_id }}",
            "google_id": "={{ $json.data.google_id }}",
            "place_id": "={{ $json.data.place_id }}",
            "google_mid": "={{ $json.data.google_mid }}",
            "phone_number": "={{ $json.data.phone_number }}",
            "name": "={{ $json.data.name }}",
            "latitude": "={{ $json.data.latitude }}",
            "longitude": "={{ $json.data.longitude }}",
            "full_address": "={{ $json.data.full_address }}",
            "opening_status": "={{ $json.data.opening_status }}",
            "timezone": "={{ $json.data.timezone }}",
            "rating": "={{ $json.data.rating }}",
            "review_count": "={{ $json.data.review_count }}",
            "working_hours": "={{ $json.data.working_hours }}",
            "website": "={{ $json.data.website }}",
            "verified": "={{ $json.data.verified }}",
            "place_link": "={{ $json.data.place_link }}",
            "cid": "={{ $json.data.cid }}",
            "reviews_link": "={{ $json.data.reviews_link }}",
            "owner_id": "={{ $json.data.owner_id }}",
            "owner_link": "={{ $json.data.owner_link }}",
            "owner_name": "={{ $json.data.owner_name }}",
            "booking_link": "={{ $json.data.booking_link }}",
            "reservations_link": "={{ $json.data.reservations_link }}",
            "business_status": "={{ $json.data.business_status }}",
            "type": "={{ $json.data.type }}",
            "subtypes": "={{ $json.data.subtypes }}",
            "subtype_gcids": "={{ $json.data.subtype_gcids }}",
            "photos_sample": "={{ $json.data.photos_sample }}",
            "reviews_per_rating": "={{ $json.data.reviews_per_rating }}",
            "photo_count": "={{ $json.data.photo_count }}",
            "about": "={{ $json.data.about }}",
            "address": "={{ $json.data.address }}",
            "order_link": "={{ $json.data.order_link }}",
            "price_level": "={{ $json.data.price_level }}",
            "district": "={{ $json.data.district }}",
            "street_address": "={{ $json.data.street_address }}",
            "city": "={{ $json.data.city }}",
            "zipcode": "={{ $json.data.zipcode }}",
            "state": "={{ $json.data.state }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "business_id",
              "displayName": "business_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "google_id",
              "displayName": "google_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "place_id",
              "displayName": "place_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "google_mid",
              "displayName": "google_mid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "latitude",
              "displayName": "latitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "longitude",
              "displayName": "longitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "full_address",
              "displayName": "full_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "review_count",
              "displayName": "review_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opening_status",
              "displayName": "opening_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "working_hours",
              "displayName": "working_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "verified",
              "displayName": "verified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "place_link",
              "displayName": "place_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cid",
              "displayName": "cid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reviews_link",
              "displayName": "reviews_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "owner_id",
              "displayName": "owner_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "owner_link",
              "displayName": "owner_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "owner_name",
              "displayName": "owner_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "booking_link",
              "displayName": "booking_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reservations_link",
              "displayName": "reservations_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "business_status",
              "displayName": "business_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subtypes",
              "displayName": "subtypes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subtype_gcids",
              "displayName": "subtype_gcids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "photos_sample",
              "displayName": "photos_sample",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reviews_per_rating",
              "displayName": "reviews_per_rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "photo_count",
              "displayName": "photo_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "about",
              "displayName": "about",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "order_link",
              "displayName": "order_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price_level",
              "displayName": "price_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "district",
              "displayName": "district",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "street_address",
              "displayName": "street_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "zipcode",
              "displayName": "zipcode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1776,
        -208
      ],
      "id": "14522b2a-0703-4a6a-8a53-7d308c0021de",
      "name": "Planilhamento_Dados",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A8JpaNKkERNG8FeV",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26b63941-4d20-43ff-af60-6b148ce28706",
              "name": "response",
              "value": "Preenchi lá na planilha os dados que eu encontrei",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2048,
        -208
      ],
      "id": "8eccce6b-57f0-4c53-b6cb-50db7ad35e61",
      "name": "Resposta"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1488,
        -208
      ],
      "id": "9339b7fa-a922-4041-95c6-f68d243211ff",
      "name": "Separador"
    },
    {
      "parameters": {
        "toolDescription": "Busca dados de estabelecimentos, empresas e serviços a partir de um termo de busca",
        "method": "POST",
        "url": "https://escolaaes.app.n8n.cloud/webhook/scraping-google-maps",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "termo_de_busca",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        256,
        96
      ],
      "id": "ef8e6f05-0989-4d5b-9da8-b702de53eb02",
      "name": "Colher_Dados"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scraping-google-maps",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        848,
        -208
      ],
      "id": "b5ed8a2f-3e42-497b-af03-06c93d64df44",
      "name": "Webhook",
      "webhookId": "01c34195-3b2f-4617-98d2-48664ccd3b8b"
    },
    {
      "parameters": {
        "content": "## Vincular Sheets\n\nConfigurar sua conta pessoal para acessar o sheets e qual planilha você usará...",
        "height": 352,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        -352
      ],
      "typeVersion": 1,
      "id": "15ea4aa1-835d-4937-8c29-a27db07de385",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Criar sua conta\n\nCom a conta gratuita da Rapid, alterar a API KEY neste node...",
        "height": 352,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        -352
      ],
      "typeVersion": 1,
      "id": "4dfb6786-a885-4c01-8872-52f890a0e1c9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Google Studio\n\nGerar a sua propria API Key e usar as credenciais...",
        "height": 352,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -48
      ],
      "typeVersion": 1,
      "id": "02f59495-ef54-4c1b-b403-c5725a03c35e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Prompt\n\nMelhorar o prompt caso necessário, mas de preferencia não alterar...",
        "height": 352,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -448
      ],
      "typeVersion": 1,
      "id": "6f40e0bc-8b9e-4160-864e-7f7ae8aff9f0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Ajustar Host\n\nCoinfigurar weebhook para casar dados da sua conta...",
        "height": 352,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        -352
      ],
      "typeVersion": 1,
      "id": "7bf52d31-98b4-47c5-8514-bb4c5d8ba4fa",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "escolaaes.app.n8n.cloud",
            "user-agent": "axios/1.12.0",
            "content-length": "67",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "4.184.78.247",
            "cf-ew-via": "15",
            "cf-ipcountry": "DE",
            "cf-ray": "98f09784211bdbcb-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "4.184.78.247, 172.71.144.19",
            "x-forwarded-host": "escolaaes.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-89-8567ddc79c-phv8x",
            "x-is-trusted": "yes",
            "x-real-ip": "4.184.78.247"
          },
          "params": {},
          "query": {},
          "body": {
            "termo_de_busca": "Escritórios de Advocacia em Brasília, Brasil"
          },
          "webhookUrl": "https://escolaaes.app.n8n.cloud/webhook/scraping-google-maps"
        }
      }
    ]
  },
  "connections": {
    "Memória": {
      "ai_memory": [
        [
          {
            "node": "Agente IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "ChatInput": {
      "main": [
        [
          {
            "node": "Agente IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Rapid_API": {
      "main": [
        [
          {
            "node": "Separador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planilhamento_Dados": {
      "main": [
        [
          {
            "node": "Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separador": {
      "main": [
        [
          {
            "node": "Planilhamento_Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colher_Dados": {
      "ai_tool": [
        [
          {
            "node": "Agente IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Rapid_API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0e2d60b0-15fa-424d-9548-da7091e909bb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d93b9b69ab8dfc5706d0a017d4db3ce487b56acac66f485d9ee9f60dd9e0f8eb"
  },
  "id": "QxbMqvmADKsXugUY",
  "tags": []
}